cms/Admin.Web/Service References/ServiceProvider/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cms.DomainObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cms.DomainObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="CreateAdminAccRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CreateAdminAccRequest" nillable="true" type="tns:CreateAdminAccRequest" />
  <xs:complexType name="CreateAdminAcctResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CreateAdminAcctResponse" nillable="true" type="tns:CreateAdminAcctResponse" />
</xs:schema>